<div class="form-inline">
  <%= form_with(model: message, local: true) do |form| %>
    <% if message.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

        <ul>
        <% message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field valign">
      <%= form.label :content, 'Message:' %>
      <%= form.text_area :content, class: 'devise-field' %>
    </div>

    <%= form.hidden_field :stay_id, value: stay_id %>
    <%= form.hidden_field :user_id, value: user_id %>
    <%= form.hidden_field :guest_id, value: guest_id %>
    <%= form.submit class: 'message-button' %>
  <% end %>
</div>