<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @message.content %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @message.created_at %>
</p>

<p>
  <strong>Stay:</strong>
  <%= @message.stay %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
