<p id="notice"><%= notice %></p>
<div class="profile-wrapper">
  <div class="profile-left">
    <% if @profile.first_name && @profile.last_name %>
      <h1 class="center-text">
        <strong> <%= @profile.first_name %> <%= @profile.last_name%>'s Profile</strong>
      </h1>
      <p>
      <strong>member since: <%= @profile.created_at.day %> <%= I18n.l(@profile.created_at, format: "%B") %> <%= @profile.created_at.year %></strong>
      </p>
    <% else %>
      <p class="center-text"> <strong>Welcome to your profile page! Feel free to browse through accommodation but in order to apply to stay at a location we'll need you to <%= link_to 'Finish editing your profile', edit_profile_path(@profile) %></strong></p>
    <% end %>
    
    <% if @profile.uploaded_image.attached? %>
      <%= image_tag @profile.uploaded_image.service_url, class: 'image-size' %>
    <% else %>
      <p>No image for this profile  <%= link_to 'Finish editing your profile', edit_profile_path(@profile) %></p></p>
    <% end %>

      <p>
      <strong>Name:</strong>
      <% if @profile.first_name && @profile.last_name %>
        <%= @profile.first_name %> <%= @profile.last_name %></p>
      <% else %>
        <%= link_to 'Finish editing your profile', edit_profile_path(@profile) %></p>
      <% end %>
      <p>
        <strong>Email:</strong> <%= @profile.user.email %>
      </p>

      <p>
      <strong>Karma balance:</strong>
      <% if @profile.karma_coins %>
        <%= image_tag '/img/kksym.png', class: 'kksym' %> <%= @profile.karma_coins %>
      <% else %>
        <strong>zero</strong> Host your first guest to earn some <%= image_tag '/img/kksym.png', class: 'kksym' %>arma Coins!</p>
      <% end %>
    <p>
      <strong>Bio:</strong>
      <% if @profile.bio %>
        <%= @profile.bio %></p>
      <% else %>
        <%= link_to 'Finish editing your profile', edit_profile_path(@profile) %></p>
      <% end %>

    <p>
      <strong>Host rating:</strong>
      <% if @profile.host_rating > 0 %>
        <%= convert_float_to_1sf(@profile.get_host_rating) %> / 5</p>
      <% else %>
        No rating recieved yet</p>
      <% end %>

    <p>
      <strong>Guest rating:</strong>
      <% if @profile.guest_rating > 0 %>
        <%= convert_float_to_1sf(@profile.get_guest_rating) %> / 5
      <% else %>
        No rating recieved yet</p>
      <% end %>

    <p>
    <% if @profile.user.role_id == 2 %>
      <%= @profile.user.role.privilege %>. <%= link_to("Upgrade to premium today!", upgrade_path) %> 
    <% elsif @profile.user.role_id == 3 %>
      <%= @profile.user.role.privilege %> 
    <% end %>
    
    <% if @profile.user.role_id == 3 %>
      <%= image_tag '/img/premium_badge.png', class: 'premium' %>
    <% end %>

    </p>

    <p><%= link_to 'Edit Profile', edit_profile_path(@profile) %> | <%= link_to 'Edit Email & Password', edit_user_registration_path(current_user) %></p>
  </div>
  <div class="profile-right">
    <div class="accommodation-section">
    <% if @profile.user.accommodation %>
    <div class="accom-title">
      <p><strong>Your Listed Accommodation</strong></p>
      <p id="accom-name"><strong><%= @profile.user.accommodation.name %></strong></p>
    </div>
    <% if @profile.user.accommodation.hero_image.attached? %>
      <%= image_tag @profile.user.accommodation.hero_image.service_url, class: 'accom-img-size' %>
    <% else %>
      <p>No Image has been provided for this Accommodation</p>
    <% end %>
    <div class="prof-button-flex">
      <%= button_to "View stays hosted at property", accommodation_stays_path(accommodation_id: @profile.user.accommodation.id), method: :get, class: "accom-stay-button" %><%= button_to "View property listing", accommodation_path(@profile.user.accommodation.id), method: :get, class: "stay-accom-button" %>
    </div>
    <% else %>
      <p> 
        <strong>
          You need to add a property so that you can host guests.
        </strong>
      </p>
      <%= button_to "Add Property", new_accommodation_path, params: {:profile_id => @profile.user.id}, method: :get, class: "add-accom-button" %>
    <% end %>
     
    </div>
    <div class="guest-section">
      <% if @profile.first_name && @profile.last_name %>
        <p> <strong><%= @profile.first_name %> <%= @profile.last_name  %>'s Guest Profile</strong> </p>
      <% else %>
        <p><strong>Guest Profile</strong></p>
      <% end %>

      <% if @profile.user.stays.length > 0 %>
        <div class="profile-stay-section">
        <p class="stay-header"><strong>Your Most Recent Stay Activity</strong></p>
        <p>
        <strong>Accommodation Name: </strong><%= @profile.user.stays.last.accommodation.name %>
        </p>
        <p>
        <strong>Start date: </strong><%= @profile.user.stays.last.start_date.day %> <%= I18n.l(@profile.user.stays.last.start_date, format: "%B") %> <%= @profile.user.stays.last.start_date.year %> | 
        <strong>End date: </strong><%= @profile.user.stays.last.end_date.day %> <%= I18n.l(@profile.user.stays.last.end_date, format: "%B") %> <%= @profile.user.stays.last.end_date.year %>
        </p>
        <p>
          <strong>Request Status:
              <% if @profile.user.stays.last.state_pending? and @profile.user.stays.last.end_date < Time.now %>
                <span class="pending">Stay request is expired </span>
              <% elsif @profile.user.stays.last.state_pending? %>
                <span class="pending">Stay request is pending</span>
              <% elsif @profile.user.stays.last.rejected? %>
                <span class="rejected">Stay Declined</span>
              <% elsif @profile.user.stays.last.confirmed? %>
                <span class="confirmed">Stay Accepted</span>
              <% elsif @profile.user.stays.last.cancelled? %>
              <span class="rejected">Stay Cancelled</span></p>
              <% end %>
              </strong>
        </p>
        </div>
      <% end %>
      
      <%= button_to "View your stays as a guest", guest_stays_path(guest_id: @profile.user.id ), method: :get, class: "stay-profile-button" %>

    </div>
  </div>
</div>
