<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: 'devise-field' %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: 'devise-field' %>
  </div>

  <div class="bio">
    <%= form.label :bio, 'About Me', class: 'text-field-label' %>
    <%= form.text_area :bio, class: 'devise-field' %>
  </div>

  <div class="field">
  <%= form.label :uploaded_image, 'Profile Image' %>
  <%= form.file_field :uploaded_image %>
  </div>

  <div class="actions">
    <%= form.submit class: 'devise-button-update' %>
  </div>
<% end %>
