<%= form_with(model: accommodationreview, local: true) do |form| %>
  <% if accommodationreview.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(accommodationreview.errors.count, "error") %> prohibited this accommodationreview from being saved:</h2>

      <ul>
      <% accommodationreview.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :communication_rating, "Communication Rating /5" %>
    <%= form.select :communication_rating, options_for_select(rating_select), {} , class: 'devise-field'%>
  </div>

  <div class="field">
    <%= form.label :location_rating, "Location Rating /5" %>
    <%= form.select :location_rating, options_for_select(rating_select), {} , class: 'devise-field'%>
  </div>

  <div class="field">
    <%= form.label :cleanliness_rating, "Cleanliness Rating /5" %>
    <%= form.select :cleanliness_rating, options_for_select(rating_select), {} , class: 'devise-field'%>
  </div>

  <div class="field">
    <%= form.label :ammenities_rating, "Amenities Rating /5" %>
   <%= form.select :ammenities_rating, options_for_select(rating_select), {} , class: 'devise-field'%>
  </div>

  <div class="field">
    <%= form.label :host_rating, "Host Rating /5" %>
    <%= form.select :host_rating, options_for_select(rating_select), {} , class: 'devise-field'%>
  </div>

  <div class="valign">
    <%= form.label :comments %>
    <%= form.text_area :comments, class: 'devise-field' %>
  </div>

  <input type="hidden" value="<%= @stay_id %>" name="stay_id">

  <div class="actions">
    <%= form.submit "Create Accommodation Review", class: 'rating-button' %>
  </div>
<% end %>
