<p id="notice"><%= notice %></p>

<% if params[:accommodation_id] %>
  
  <h1 class="center-text">Accommodation Reviews for <%= @accommodation.name %></h1>

  <div class="results-wrapper">
    <% if @accommodation_reviews.length > 0 %>
      
      <% @accommodation_reviews.reverse.each do |accommodation_review| %>
        <div class="accom-review">
        <p>
            <strong>Reviewed by: <%= link_to "#{accommodation_review.stay.guest.profile.first_name} #{accommodation_review.stay.guest.profile.last_name}", profile_path(accommodation_review.stay.guest.id) %></strong>
            </p>
            <p>
            <strong>Review Date: </strong><%= accommodation_review.created_at.day %> <%= I18n.l(accommodation_review.created_at, format: "%B") %> <%= accommodation_review.created_at.year %>
            <p>
            <strong>Location: </strong><%= accommodation_review.location_rating %> | 
            <strong>Cleanliness: </strong><%= accommodation_review.cleanliness_rating %> |
            <strong>Communication: </strong><%= accommodation_review.communication_rating %> |
            <strong>Ammenities: </strong><%= accommodation_review.ammenities_rating %> |
            <strong>Host: </strong><%= accommodation_review.host_rating %>
            </p>
            <div class="comments">
            <p>
              <strong>Comments: </strong><%= accommodation_review.comments %>
            </p>
            </div>
        </div>
      <% end %>
      <% else %>
        <h1 class="center-text">There are no reviews for this accommodation currently</h1>
    <% end %>
  </div>
<% else %>
  <h1 class="center-text">You have come to the wrong page.</h1>
  <h2 class="center-text">You can access reviews for specific accommodation via their information page.</h2>
<% end %>