<p id="notice"><%= notice %></p>
<% if params[:accommodation_id] %>
  <h1 class="center-text">All Stays Hosted by <%= @accommodation.host.profile.first_name %> <%= @accommodation.host.profile.last_name %> at <%= @title %></h1>
<% else %>
  <h1><h1 class="center-text">All Stays for <%= @title %></h1>
<% end %>

<div class="results-wrapper">
  <% @stays.reverse.each do |stay| %>
    <div class="stay-wrapper">
      <div class="accom-img-container">
          <% if stay.accommodation.hero_image.attached? %>
              <%= image_tag stay.accommodation.hero_image.service_url, class: 'accom-img-thumb' %>
          <% else %>
              <p>No Image has been provided for this Accommodation</p>
          <% end %>
      </div>
      <div class="stay-para-flex">
        <% if params[:accommodation_id] %>
          <p><strong>Guest:</strong> <%= stay.guest.profile.first_name %> <%= stay.guest.profile.last_name %></p>
        <% else %>
          <h3><%= stay.accommodation.name %></h3>
        <% end %>  

        <p>
        <strong>Start Date: </strong><%= stay.start_date.day %> <%= I18n.l(stay.start_date, format: "%B") %> <%= stay.start_date.year %>
        <strong>End Date: </strong><%= stay.end_date.day %> <%= I18n.l(stay.end_date, format: "%B") %> <%= stay.end_date.year %>
        </p>
        
           <p>
            <strong>Request Status:
            <% if !stay.confirmed && !stay.rejected %>
              <span class="pending">Stay request is pending</span>
            <% elsif stay.rejected && !stay.cancelled %>
              <span class="rejected">Stay Declined</span>
            <% elsif stay.confirmed%>
              <span class="confirmed">Stay Accepted</span>
            <% elsif stay.cancelled && stay.rejected %>
            <span class="rejected">Stay Cancelled by guest</span></p>
            <% end %>
            </strong>
          </p>

        <div class="prof-button-flex">
          <% if stay.confirmed == false && stay.rejected == false %>  
            <% if params[:guest_id] %>
              <%= button_to 'Edit Stay', edit_stay_path(stay), params: {:accommodation_id => stay.accommodation.id}, method: :get, class: 'view-stay-button' %>
            <% end %>
          <% end %>
          <% if params[:accommodation_id] %>
            <%= button_to 'View Stay', stay, params: {:accommodation_id => @accommodation.id}, method: :get, class: 'view-stay-button' %>
          <% elsif params[:guest_id] %>
            <%= button_to 'View Stay', stay, params: {:guest_id => @guest.id}, method: :get, class: 'view-stay-button' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>