<p id="notice"><%= notice %></p>
<% if params[:accommodation_id] %>
  <h1 class="center-text">All Stays Hosted by <%= @accommodation.host.profile.first_name %> <%= @accommodation.host.profile.last_name %> at <%= @title %></h1>
<% else %>
  <h1><h1 class="center-text">All Stays for <%= @title %></h1>
<% end %>

<div class="results-wrapper">
  <% @stays.each do |stay| %>
    <div class="stay-wrapper">
      <div class="accom-img-container">
          <% if stay.accommodation.hero_image.attached? %>
              <%= image_tag stay.accommodation.hero_image.service_url, class: 'accom-img-thumb' %>
          <% else %>
              <p>No Image has been provided for this Accommodation</p>
          <% end %>
      </div>
      <div class="stay-para-flex">
        <% if params[:accommodation_id] %>
          <p><strong>Guest:</strong> <%= stay.guest.profile.first_name %> <%= stay.guest.profile.last_name %></p>
        <% else %>
          <h3><%= stay.accommodation.name %></h3>
        <% end %>  

        <p>
        <strong>Start Date: </strong><%= stay.start_date.day %> <%= I18n.l(stay.start_date, format: "%B") %> <%= stay.start_date.year %>
        <strong>End Date: </strong><%= stay.end_date.day %> <%= I18n.l(stay.end_date, format: "%B") %> <%= stay.end_date.year %>
        </p>
        
        <% if stay.confirmed == false && stay.rejected == false %>
          <p>
            <strong>Request Status: </strong> Stay not yet approved
          </p>
        <% elsif stay.confirmed == true && stay.rejected == false %>
          <strong>Request Status: </strong> Stay has been approved by <%= stay.host.profile.first_name  %> <%= stay.host.profile.last_name  %>
        <% elsif stay.confirmed == false && stay.rejected == true%>
          <strong>Request Status: </strong> Stay has been disapproved by <%= stay.host.profile.first_name  %> <%= stay.host.profile.last_name  %>
        <% end %>

        <div class="prof-button-flex">
          <% if stay.confirmed == false && stay.rejected == false %>  
            <%= button_to 'Edit Stay', edit_stay_path(stay), method: :get, class: 'view-stay-button' %>
          <% end %>
          <%= button_to 'View Stay', stay, method: :get, class: 'view-stay-button' %>
        </div>
      </div>
    </div>
  <% end %>
</div>