<p id="notice"><%= notice %></p>
<h1>Stays for <%= @title %></h1>


  
    <% @stays.each do |stay| %>
  
        <%= stay.accommodation %>
        <%= stay.start_date %>
        <%= stay.end_date %>
        <%= stay.guest %>
        <%= stay.created_at %>
        <%= stay.confirmed %>
        <%= stay.rejected %>
        <%= link_to 'Show', stay %>
        <%= link_to 'Edit', edit_stay_path(stay) %>
    <% end %>

<br>

<%= link_to 'New Stay', new_stay_path %>
