<%= form_with(model: accommodation, local: true) do |form| %>
  <% if accommodation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(accommodation.errors.count, "error") %> prohibited this accommodation from being saved:</h2>

      <ul>
      <% accommodation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'devise-field' %>
  </div>

  <div class="valign">
    <%= form.label :description, class: 'text-field-label' %>
    <%= form.text_area :description, class: 'devise-field' %>
  </div>

   <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, class: 'devise-field' %>
  </div>

  <div class="field">
  <%= form.label :city %>
    <%= form.select :city, options_for_select(city_select()), {} , class: 'devise-field'%>
  </div>

  <div class="field">
  <%= form.label :country %>
    <%= form.select :country, options_for_select(country_select()), {} , class: 'devise-field'%>
  </div>

  <div class="field">
    <%= form.label :available_start_date %>
    <%= form.date_select :available_start_date, {order: [:day, :month, :year]}, class: 'devise-field' %>
  </div>

  <div class="field">
    <%= form.label :available_end_date %>
    <%= form.date_select :available_end_date, {order: [:day, :month, :year] }, class: 'devise-field'%>
  </div>

  <div class="field">
  <%= form.label :accomtype_id %>
  <%= form.select :accomtype_id, options_for_select(accomtype_select()), {} , class: 'devise-field'%>
  </div>

  <div class="field">
    <%= form.label :hero_image, 'Hero exterior Image' %>
    <%= form.file_field :hero_image %>
    <p id="best-results">(For best results image should be larger than 400 x 400 pixels) </p>
  </div>

  <div class="field">
    <%= form.label :interior_image, 'Interior Image' %>
    <%= form.file_field :interior_image %>
    <p id="best-results">(For best results image should be larger than 400 x 400 pixels) </p>
  </div>
  <input type="hidden" value="<%= @host %>" name="profile_id">
  <div class="actions">
    <%= form.submit class: 'devise-button-update-accom' %>
  </div>
<% end %>
