<%= form_with(model: accommodation, local: true) do |form| %>
  <% if accommodation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(accommodation.errors.count, "error") %> prohibited this accommodation from being saved:</h2>

      <ul>
      <% accommodation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date_created %>
    <%= form.datetime_select :date_created %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :host_id %>
    <%= form.text_field :host_id %>
  </div>

  <div class="field">
    <%= form.label :accommodation_rating %>
    <%= form.text_field :accommodation_rating %>
  </div>

  <div class="field">
    <%= form.label :available_start_date %>
    <%= form.datetime_select :available_start_date %>
  </div>

  <div class="field">
    <%= form.label :available_end_date %>
    <%= form.datetime_select :available_end_date %>
  </div>

  <div class="field">
    <%= form.label :accomtype_id %>
    <%= form.text_field :accomtype_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
