<p id="notice"><%= notice %></p>
<div class="results-wrapper">
<p><%= render '/shared/searchform', class: 'searchform' %></p>
    <% @accommodations.each do |accommodation| %>
        <div class="accommodation-wrapper">
            <div class="accom-img-container">
                <% if accommodation.hero_image.attached? %>
                    <%= image_tag accommodation.hero_image.service_url, class: 'accom-img-thumb' %>
                <% else %>
                    <p>No Image has been provided for this Accommodation</p>
                <% end %>
            </div>
        <div class="accom-para-flex">
            <h3>
                <%= accommodation.name %>
            </h3>
            
            <p>
                <strong>Bed type:</strong>  <%= accommodation.accomtype.name %>
                <strong>Cost:</strong> <%= image_tag '/img/kksym.png', class: 'kksym' %> <%= accommodation.accomtype.cost %>
            </p>
            
            <p>
                <%= accommodation.description %>
            </p>
            <p>
                <strong>Address:</strong> <%= accommodation.address %>
                <strong>City: </strong><%= accommodation.city %>
                <strong>Country:<%= accommodation.country %></strong> 
            </p>
            
            <p>
               <strong>Rating: </strong> <%= accommodation.accommodation_rating %>
               <strong>Available from: </strong>  <%= accommodation.available_start_date.day %> <%= I18n.l(accommodation.available_start_date, format: "%B") %> <%= accommodation.available_start_date.year %>
               <strong>Available Until:</strong>  <%= accommodation.available_end_date.day %> <%= I18n.l(accommodation.available_start_date, format: "%B") %> <%= accommodation.available_end_date.year %>
            </p>
            <%= button_to "View Accommodation", accommodation, method: :get, class: "view-accom-button" %>
        </div>
     </div>
    <% end %>
</div>
