<p id="notice"><%= notice %></p>

<h1>Accommodation</h1>

<table>
  <thead>
    <tr>
      <th>Date created</th>
      <th>Name</th>
      <th>Description</th>
      <th>Country</th>
      <th>City</th>
      <th>Address</th>
      <th>Host</th>
      <th>Accommodation rating</th>
      <th>Available start date</th>
      <th>Available end date</th>
      <th>Accomtype</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accommodations.each do |accommodation| %>
      <tr>
        <td><%= accommodation.date_created %></td>
        <td><%= accommodation.name %></td>
        <td><%= accommodation.description %></td>
        <td><%= accommodation.country %></td>
        <td><%= accommodation.city %></td>
        <td><%= accommodation.address %></td>
        <td><%= accommodation.host %></td>
        <td><%= accommodation.accommodation_rating %></td>
        <td><%= accommodation.available_start_date %></td>
        <td><%= accommodation.available_end_date %></td>
        <td><%= accommodation.accomtype %></td>
        <td><%= link_to 'Show', accommodation %></td>
        <td><%= link_to 'Edit', edit_accommodation_path(accommodation) %></td>
        <td><%= link_to 'Destroy', accommodation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

 <%= link_to 'New Accommodation', new_accommodation_path %>


