<p id="notice"><%= notice %></p>

<p>
  <strong>Date created:</strong>
  <%= @accommodation.date_created %>
</p>

<p>
  <strong>Name:</strong>
  <%= @accommodation.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @accommodation.description %>
</p>

<p>
  <strong>Country:</strong>
  <%= @accommodation.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @accommodation.city %>
</p>

<p>
  <strong>Address:</strong>
  <%= @accommodation.address %>
</p>

<p>
  <strong>Host:</strong>
  <%= @accommodation.host %>
</p>

<p>
  <strong>Accommodation rating:</strong>
  <%= @accommodation.accommodation_rating %>
</p>

<p>
  <strong>Available start date:</strong>
  <%= @accommodation.available_start_date %>
</p>

<p>
  <strong>Available end date:</strong>
  <%= @accommodation.available_end_date %>
</p>

<p>
  <strong>Accomtype:</strong>
  <%= @accommodation.accomtype %>
</p>

<%= link_to 'Edit', edit_accommodation_path(@accommodation) %> |
<%= link_to 'Back', accommodations_path %>
