<div class="flex-wrapper">
    <div class="text-wrapper">
        <h2>About Nah..ImaStay</h2>
        <p>The brain child of 3 students studying at Coder Academy, Nah..ImaStay was created as a solution of making couch surfing more secure and safe.</p>
        <p>Who doesn't love free accommodation and making new friends around the world and feeling safe while doing so?</p>
        <p>Nah..ImaStay is a reciprocal society which means that everyone must host guests avoiding people simply travelling and not giving back.</p>
        <p>When you host people you earn Karma Coins which you can then spend on your own travels.</p>
    </div>
    <div class="kk-wrapper">
    <%= image_tag("/img/logo.png",  alt: "friends ready for adventure", class: "kk-image") %>
    </div>
</div>
<hr>

<h2 id="how-does-it-work">How does it work?</h2>

<div class="flex-wrapper-reverse">
    <div class="img-wrapper">
        <%= image_tag("/img/happyfriends.jpg",  alt: "happy friends", class: "home-image") %>
    </div>
    <div class="text-wrapper">
        <h2>Host People</h2>
        <p>Hosting people earns you <%= image_tag '/img/kksym.png', class: 'kksym' %>arma Coins.</p>
    </div>
</div>

    <div class="flex-wrapper">
        <div class="text-wrapper">
            <h2>Review Each Other</h2>
            <p>Guests review their hosts and vice versa so that future hosts and guests can see how great it is to meet you and feel safe!</p>
        </div>
        <div class="img-wrapper">
        <%= image_tag("/img/signup.jpg",  alt: "friends ready for adventure", class: "home-image") %>
        </div>
    </div>

    <div class="flex-wrapper-reverse">
    <div class="img-wrapper">
        <%= image_tag("/img/editprofile.jpg",  alt: "happy friends", class: "home-image") %>
    </div>
    <div class="text-wrapper">
        <h2>Keep Travelling</h2>
        <p>The more people you host the more <%= image_tag '/img/kksym.png', class: 'kksym' %>arma Coins you'll earn and the more you can travel without spending any real money! Simple!</p>
    </div>
</div>
<p class="center-text"><%= link_to 'Read our Privacy Policy and Terms and Conditions', '/privacypolicy/nahimastayprivacypolicy.pdf' %></p>