<%= form_with(model: guestreview, local: true) do |form| %>
  <% if guestreview.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(guestreview.errors.count, "error") %> prohibited this guestreview from being saved:</h2>

      <ul>
      <% guestreview.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cleanliness_rating %>
    <%= form.select :cleanliness_rating, options_for_select(rating_select), {} , class: 'devise-field'%>
  </div>

  <div class="field">
    <%= form.label :communication_rating %>
    <%= form.select :communication_rating, options_for_select(rating_select), {} , class: 'devise-field'%>
  </div>

  <div class="field">
    <%= form.label :ease_of_hosting_rating %>
    <%= form.select :ease_of_hosting_rating, options_for_select(rating_select), {} , class: 'devise-field'%>
  </div>

  <div class="valign">
    <%= form.label :comments %>
    <%= form.text_area :comments, class: 'devise-field' %>
  </div>

  <input type="hidden" value="<%= @stay_id %>" name="stay_id">

  <div class="actions">
    <%= form.submit "Create Guest Review", class: 'rating-button'%>
  </div>
<% end %>
