<p id="notice"><%= notice %></p>
<% if params[:guest_id] %>
  
  <h1 class="center-text">Guest Reviews for <%= @guest.profile.first_name %> <%= @guest.profile.last_name %></h1>

  <div class="results-wrapper">
    <% @guest_reviews.reverse.each do |guest_review| %>
      <div class="guest-review">
        <p>
          <strong>Reviewed by: <%= link_to "#{guest_review.stay.accommodation.host.profile.first_name} #{guest_review.stay.accommodation.host.profile.last_name}", profile_path(guest_review.stay.accommodation.host.id) %></strong>
          </p>
          <p>
          <strong>Review Date: </strong><%= guest_review.created_at.day %> <%= I18n.l(guest_review.created_at, format: "%B") %> <%= guest_review.created_at.year %>
          <p>
          <strong>Cleanliness: </strong><%= guest_review.cleanliness_rating %>
          <strong>Communication: </strong><%= guest_review.communication_rating %>
          <strong>Easy to host: </strong><%= guest_review.ease_of_hosting_rating %>
          </p>
          <div class="comments">
          <p>
            <strong>Comments: </strong><%= guest_review.comments %>
          </p>
          </div>
      </div>
    <% end %>
  </div>
<% else %>
  <h1 class="center-text">You have come to the wrong page.</h1>
  <h2 class="center-text">You can access reviews for specific guests via their profile page.</h2>
<% end %>