<p id="notice"><%= notice %></p>

<h1> Review for your stay at <%= @guestreview.stay.accommodation.name %>

<p>
<%= link_to 'view stay', stay_path(@guestreview.stay.id, accommodation_id: @guestreview.stay.accommodation.id) %>
</p>

<p>
  <strong>Cleanliness rating:</strong>
  <%= @guestreview.cleanliness_rating %>/5
</p>

<p>
  <strong>Communication rating:</strong>
  <%= @guestreview.communication_rating %>/5
</p>

<p>
  <strong>Ease of hosting rating:</strong>
  <%= @guestreview.ease_of_hosting_rating %>/5
</p>

<p>
  <strong>Comments:</strong>
  <%= @guestreview.comments %>
</p>

<p>
  <strong>Review submitted on:</strong>
  <%= @guestreview.created_at.day %> <%= I18n.l(@guestreview.created_at, format: "%B") %> <%= @guestreview.created_at.year %></strong>
      </p>
</p>

<%= link_to 'Back', stay_path(@guestreview.stay.id, accommodation_id: @guestreview.stay.accommodation.id) %>
