<div class="hero-container">'
    <%= image_tag("/img/login.jpg",  alt: "gauranteed smile if you sign up", class: "hero-image") %>
    <div class="devise">
    <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'devise-field' %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: 'devise-field' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me, class: 'devise-field' %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: 'devise-button' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

    </div>
</div>