<!DOCTYPE html>
<html>
  <head>
    <title>Nahimastay</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <nav>
      <div id="logo">
      <a href="/"><img id="world" src="/img/logo.png" alt="nahimastay_logo"></a>
      <div id="logo-with-slogan">
        <a href="/"><h1 id="nav-title">Nah..ImaStay</h1></a>
        <p id="cog">A Community Of Givers</p>
      </div>
      </div>
      <% if current_user %>
        <ul id="main-menu">
          <li><%= link_to "About", '/pages/about'  %></li>
          <li><%= link_to "Find Accommodation", accommodations_path  %></li>
        </ul>
        <ul>
        <% if current_user.profile.uploaded_image.attached? %>
          <%= image_tag current_user.profile.uploaded_image.service_url, class: 'image-thumb' %>
          <li><%= link_to("Profile", profile_path(current_user.profile)) %></li>
        <% else %>
        <li><%= link_to("Complete Your Profile", profile_path(current_user.profile)) %></li>
        <% end %>
        <li>|</li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete  %></li>
        </ul>
        <% else %>
         <ul id="main-menu">
          <li><%= link_to "About", '/pages/about'  %></li>
          <li><%= link_to "Find Accommodation", accommodations_path  %></li>
        </ul>
        <ul>
        <li><%= link_to "Log in", new_user_session_path %></li>
        <li>|</li>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        </ul>
        <% end %>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

    <footer>
     <ul id="footer-menu">
       <li><%= link_to "Home", '/', class: 'footer-menu'  %></li>
       <li><%= link_to "About", '/pages/about', class: 'footer-menu'  %></li>
       <li><%= link_to "Find Accommodation", accommodations_path, class: 'footer-menu'  %></li>
     </ul>
     <p class="footer-menu">&#169; Copyright Nah..ImaStay 2019</p>
    </footer>
  </body>
</html>
